.top{
    letter-spacing: 2; 
}
.header-class{
    padding: 2% 0%;
    margin-bottom: 2%;
}


.button-top{
    float: left;
    padding: 8px;
    display: block;
    white-space: normal;
    width: auto;
    color: black;
    letter-spacing: 4px; 

    text-decoration: none;
}


.website-name {
    font-size: 30px;
}
.top-rigt-headings{
    float: right;
    display: block;
    box-sizing: inherit;
    letter-spacing: 4px; 
}

.header-link{
    padding: 8px;
    float: right;
    display: block;
    width: auto;
    white-space: normal;
    letter-spacing: 4px;
    text-decoration: none;
    color: black;
}

.main-div img {
    width: 100%;
    height: auto;
    position: relative;
}
.logo{
    position: absolute;
    top: 50%;
    left: 18%;
    width: 60%;
    text-align: center;
    font-size: 50px;
    padding: 2%;
    color: white;
}
.logo b {
    opacity: 70%;
    padding: 1% 3%;
    border: 1px  black;
    background-color: black;
}

.heading1 {
    font-size: 20px;

}

.houses {
    width: 100%;
    height: auto;

}
.house-group{
    width: 100%;
    display: flex;
}
.summer-house {
    width: 25%;
    color: white;
    position: relative;
}

.summer-house img {
    width: 90%;

}

.summer-house p {
    width: 30%;
    padding: 2%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0%;
    background-color: black;
    border: 1px solid black;
}
.content{
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 16px;
}
.content p{
   margin-block-start: auto;
   margin-block-end: auto;
}
.persons {
    width: 100%;
    height: auto;
    padding: 8px;
    position: relative;
}
.persons p{
    padding: 2%;
}
.person{
    width: 23%;
    
   padding: 8px;
   margin-bottom: 16px;
   float: left;
}
.person img{
    width: 100%;
   

}
.person h1{
    font-size: 24px;
}
.role{
    opacity: 70%;
}
.button{
    width: 90%;
    color: black;
   background-color: light-grey;
    display: block;
    padding: 8px;
    border-style: none;
}
.details{
    padding: 16px;
}
.input-field {
    width: 90%;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid light-grey;
}


.input-field input {
    width: 100%;
    padding: 8px;
}
.btn{
    color: white;
    background-color: black;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
}
.end-page img{
    height: auto;
    width: 100%;
    
    padding: 8px;
}